@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box !important;
}

.header-top {
  width: 100%;
  height: auto;
}
.header-top .header-top-nav {
  width: 100%;
  height: 50px;
}
.header-top .header-top-nav .header-top-ul {
  display: flex !important;
}
.header-top .header-top-nav .header-top-ul .header-top-li {
  padding: 10px 20px;
}
.header-toprasm{
width: 190px;
height: 47px;
}
.header-top .header-top-nav .header-top-ul .header-top-li .header-top-a {
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  color: #1F2428;
}
.header-top .header-top-nav .header-top-div {
  width: 250px;
}
.header-top .header-top-nav .header-top-div .header-top-div-image {
  width: 30px;
  height: 30px;
}
.header-top .header-top-nav .header-top-div .header-top-a {
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  color: #1F2428;
}
.header-top .header-top-nav .header-top-div .header-top-button {
  background-color: rgb(129, 181, 52);
  width: 140px;
  height: 50px;
  border-radius: 30px;
  border: 0px solid greenyellow;
}
.header-top .header-top-nav .header-top-div .header-top-button .header-button-p {
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.header-top .kvadrat{
  width: 95%;
height: 380px;


background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
border-radius: 36px;
}
.header-top .container-1{
  width: 100%;

}
.kvadrat p{font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
}
  .kvadrat h1{
    color: #fff;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px

  }
  .kvadrat  h2{
    font-family: 'Gilroy';
    font-style: normal;
line-height: 9px;
    font-size: 24px;
    color:#fff;
  }
  button{
    width: 260px;
    height: 66px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;
    line-height: 40px;
    border: #00C97B;
  }
  button p{
color:#fff;
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 17px;

  }
  .container-2{
    margin-left: 150px;
    width: 80%;
    height: auto;
  }
header{
  width: 100%;
  height: auto;
}

header .o1{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 56px;
color: #01CD7D;
}
header h3{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: #1F2428;
}
header .p1{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #1F2428;


    }

.mt1-1{
  margin-top: -150px;
}
header .yashil{
color:#01CD7D;
}
section .uk{
  width: 260px;
  height: 66px;
  background-color: #01CD7D;
}
section  .buk{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
color: #fff;
}
.container-3{
  margin-left: 230px;
  width: 90%;
  padding-left: -15px;
  padding-right: -15px;
}
.kvadrat2{
width: 100%;
height: 280px;
background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
border-radius: 36px;
}
.kvadrat2 .ostalisi{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  color: #fff;

}
.mt-161{
  margin-top: 161px;
}
.ml-150{
  margin-left: 130px;
}
footer{
  width: 100%;
  height: auto;
}
footer  .footer-p{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: #1F2428;
}
.footer-button .rasm{
width: 90%;
height: 3px;
}
footer .yil{
  font-family: 'Gilroy';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 20px;
text-align: center;
color: #1F2428;
}
.header-top .kvadrat3{
  width:90%;
  height: 28vh;


  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
}
.header-top .menu{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
}
.header-top .menu1{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}
.header-top .wash{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1F2428;
}
.header-top .bepul{
  width: 180px;
  height: 56px;
  background: #41B7E9;
  border-radius: 8px;
}
.header-toprasm{
width: 300px;
height: 300px;
}
.header-top .rasm1{
  width: 26px;
  height: 26px;
}
.header-top .rang{
background-color:#fff ;box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
border-radius: 16px;
}
.header-top .border{
  width: 3px;
  background-color: #222;
}
.header-top .rasm4{
width: 50px;
height: 50px;
}
.header-top .rasm5{
  margin-top: px;
  width: 1200px;
  height: 438px;
}
.bacground{
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
}
.primark{
  font-weight: 700;
  font-size: 16px;
  line-height: 100px;
}
section .rang{
  background: #FFFFFF;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  text-align: center;
}
section .rasm6{
  width: 130px;
height: 30px;
}
.sms{
  width: 480px;
  height: 360px;

}
.sms .buttom1{
  width: 400px;
  height: 60px;
background-color: #fff !important;
border-radius: 6px;
background-color: #fff;
}
p span{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 1000;
  font-size: 24px;
  line-height: 26px;
}
.bcp {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}
.bcp span{
  font-weight: 300;
  color: #00C97B;
  font-size: 14px;
}


.kvadrat4{
  width: 100%;
  height: 110px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
}
.glavni{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}
.glavni1{
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;
}
.width{
  width: 150px;
  height: 35px;
}
.container-4{
width: 97%;
margin-left: 110px;
}
.header-top-w{
width: 366px;
height: auto;
}
.width1{
width: 80px;
height: 40px;
}
.mtop-36{
  margin-top: 36px;
}
.ism{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}
.shrift{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
.header-top .wash {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: #1F2428;
}
.ruyxat{
width: 34  0px;
height: 50px;
background-color: #fff !important ;
border: 1px solid #C0C9D7;
border-radius: 6px;
}
.rasm4{
  width: 47px;
  height: 41px;
}
footer {
  width: 100%;
  height: auto;
  background-color: #fff;
}
footer .fa-brands {
  font-size: 30px;
}
footer .footer-h2 {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
footer .footer-h3 {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
footer .footer-p {
  font-size: 10px;
  text-align: center;
}
.pt-7{
  padding-top: 7rem;
}
.section-below-maindiv h2 {
  font-family: "Gilroy";
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.section-below-center .section-below-maindiv h3 {
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.section-below-maindiv .section-below-button {
  height: 66px;
  width: 240px;
  left: 737px;
  top: 2653px;
  border: 0px white;
  border-radius: 36px;
  background-color: #01CD7D;
}
 .section-below-maindiv .section-below-button p {
  font-family: "Gilroy";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #F2F6FC;
}
.mt1-1{
  margin-top: 1rem;
}
.section-below-h2 {

  font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;
color: #F2F6FC;
}
.section-bottom-h3 {
  width: 700px;
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0em;
  color: #1F2428;}
  .section-below-image{
width: 100%;
height: auto;
  }


@media (max-width: 1399px) {
  .header-top .header-top-nav .header-top-ul .header-top-li .header-top-a {
font-size: 12px;
}
.header-toprasm {
  width: 200px;
  height: 200px;
}
header .p1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #1F2428;
}
.header-top .wash {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  color: #1F2428;
}
.header-top .rasm5 {

  width: 900px;
  height: auto;
}
}

@media (max-width: 1199px) {
  .header-toprasm {
    width: 180px;
    height: 180px;
  }
  .header-top .rasm5 {

    width: 750px;
    height: auto;
  }
  .header-top .wash {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1F2428;
}
header .p1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 33px;
  color: #1F2428;
}
button {
  width: 200px;
  height: 50px;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0px 4px 4px rgb(1 203 124 / 20%);
  border-radius: 36px;
  line-height: 40px;
  border: #00C97B;
}
.header-top .menu1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
}
.header-top .menu {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 14px;
  color: #fff;
}
.header-top .menu {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 14px;
  color: #fff;
}
.header-top .header-top-nav .header-top-div .header-top-button {
  background-color: rgb(129, 181, 52);
  width: 82px;
  height: auto;
  border-radius: 30px;
  border: 0px solid greenyellow;
}
.header-top .header-top-nav .header-top-ul .header-top-li .header-top-a {
  font-size: 6px;
  }
  .header-top .header-top-nav .header-top-div .header-top-div-image {
    width: 26px;
    height: 26px;
}
  .header-top .header-top-nav .header-top-div .header-top-button .header-button-p {
    font-family: "Gilroy";
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}.header-top .header-top-nav .header-top-div .header-top-a {
  font-family: "Gilroy";
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  color: #1F2428;
}
h3{
font-size: 15px;
}
header .o1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 56px;
  color: #01CD7D;
}
  }

@media (max-width: 991px) {
  .header-toprasm {
    width: 140px;
    height: 140px;
}
.header-top .wash {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  font-size: 12px;
  line-height: 14px;
  color: #1F2428;
}
.header-top .bepul {
  width: 86px;
  height: 32px;
  background: #41B7E9;
  border-radius: 8px;
}
button p {
  color: #fff;
  text-align: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-size: 9px;
}
.header-top .wash {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 10px;
  color: #1F2428;
}
header .p1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  font-size: 6px;
  line-height: 20px;
  color: #1F2428;
}
.width {
  width: 110px;
  height: 24px;
}
.header-top .rasm5 {
  width: 580px;
  height: auto;
}
.section-below-h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  color: #F2F6FC;
}
.section-below-center .section-below-maindiv h3 {
  font-family: "Gilroy";
  font-size: 9px;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.section-below-maindiv h2 {
  margin-top: 3rem;
  font-family: "Gilroy";
  font-size: 12px;
  font-weight: 100;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.container-2 {
  margin-left: 220px;
  width: 79%;
  height: auto;
}
.header-top .kvadrat {
  width: 79%;
  height: 350px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
}
.header-top .kvadrat {
  width: 79%;
  height: 350px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
  margin-left: 110px;
}
.kvadrat h1 {
  color: #fff;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-size: 38px;
  line-height: 51px;
}
header .o1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-size: 44px;
  line-height: 56px;
  color: #01CD7D;
}
.ruyxat {
  width: 237px;
  height: 50px;
  background-color: #fff !important;
  border: 1px solid #C0C9D7;
  border-radius: 6px;
}
.header-top h3{
font-size: 20px;
}
.kvadrat2 .ostalisi {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  font-size: 26px;
  line-height: 47px;
  color: #fff;
}
.mt-161 {
  margin-top: 101px;
}

}
@media (max-width: 767px) {
h4{
  font-size: 10px;
}

.header-top-button{
  background-color: rgb(129, 181, 52);
  width: 96px;
  height: 67px;
  border-radius: 30px;
  border: 0px solid greenyellow;
}

}
.shrift {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 7px;
  line-height: 32px;
}
header .o1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 56px;
  color: #01CD7D;
}
h3{
font-size: 10px;
}
.kvadrat h1 {
  color: #fff;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  font-size: 29px;
  line-height: 51px;
}
.header-top {
  width: 93%;
  height: auto;
}
@media (max-width: 575px) {


  .header-top {
      width: 229%;
      height: auto;
  }

  .header-top .kvadrat3 {
    width: 90%;
    height: 41vh;
    background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
    border-radius: 13px;
}
.section-below-maindiv{
margin-left: 300px;
}
.section-below-maindiv .section-below-button {
  height: 34px;
  width: 153px;
}
.primark {
  font-weight: 700;
  font-size: 9px;
  line-height: 100px;
}
section .rasm6 {
  width: 33px;
  height: 30px;
}
.kvadrat2{
width: 620px;
}
.header-top {
  width: 206%;
  height: auto;
}
.glavni{
font-size: 10px;
}
.width {
  width: 57px;
  height: 24px;
}
.width1 {
  width: 36px;
  height: 40px;
}
.mt-lg-4{
  margin-top: 2rem;
}
.glavni {
  font-size: 4px;
}
h1{
  font-size: 24px;
}
}
/*# sourceMappingURL=style.css.map */